<% if @topic.errors.any? %>
    <div class="alert alert-danger">
        This form contains errors.
    </div>
    <ul>
        <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
<% end %>